@import "tailwindcss";
@theme {
  --color-primary: #4e59f6;
  --color-secondary:#0067D2
  --color-prymary-light: #0067d2;
  --color-hover-gray: #e7eaee;
  --color-bg-primary: #f8fafd;
  --color-text-blue: #3145b9;
  --color-text-primary: #1e1e1e;
  --color-text-secondary: #667085;
}

:root {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Poppins, sans-serif;
}
